In [237]:
import pandas as pd
import ast

In [123]:
metadata = pd.read_csv('data/movies_metadata.csv')

/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [242]:
keywords = pd.read_csv('data/keywords.csv')

In [192]:
titles = metadata[['id', 'title']]

In [193]:
titles.dropna(inplace=True)
titles.id = pd.to_numeric(titles.id)

/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [243]:
keywords["keywords"] = keywords["keywords"].map(lambda x: ", ".join(d["name"] for d in ast.literal_eval(x)))

In [253]:
keywords = keywords.merge(titles, how='left', left_on='id', right_on='id')

In [259]:
keywords[keywords.title=='The Contender']

        id            keywords          title
3832  6521  politics, suspense  The Contender

In [305]:
keywords.rename(columns={'id':'kaggle_id'}, inplace=True)

In [307]:
keywords = keywords[['kaggle_id', 'title', 'keywords']]

In [309]:
keywords.to_csv('data/cleaned_data/cleaned_keywords.csv')

In [277]:
movies = pd.read_table('data/movies.dat', delimiter="::", names=('movie_id', 'title', 'genre'))

/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [280]:
movies['year'] = None

In [281]:
for row in range(len(movies.title)):
    movies['year'][row] = movies['title'][row][-5:-1]

/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [284]:
for row in range(len(movies.title)):
    movies['title'][row] = movies['title'][row][:-7]

/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [289]:
genres = movies['genre'].str.get_dummies(sep='|')

In [290]:
genres

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3879,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3880,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3881,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3882,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0

In [292]:
movies.drop(columns='genre', inplace=True)

In [297]:
movies = movies.join(genres)

In [301]:
movies.to_csv('data/cleaned_data/movies_cleaned.csv')

In [283]:
movies['title'][0][:-7], movies['title'][0][-5:-1]

('Toy Story', '1995')